<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>error</title>
    </head>
    <body>
        <div class="alert alert-danger" role="alert">
              Couldn't process! Make sure to fill out the name, month and day! <a href="https://ide-dacfb985994c4c7a92c0b6735166d916-8080.cs50.ws/" class="alert-link">Go back.</a>
        </div>
    </body>
</html>