{% extends "layout.html" %}

{% block title %}
    Italy
{% endblock %}

{% block icon %}
    /static/italy.ico
{% endblock %}

{% block main %}
<h3>Italy is one of the most popular European countries, both because of the important figures in history, such as Leonardo da Vinci, Vivaldi, Botticelli, and because of the impressive places you can visit here.</h3>
<br> </br>
<img src="https://media.timeout.com/images/105761603/750/422/image.jpg" class="rounded" alt="Spain" width="750" height="422">
<br> </br>

<p>In addition, Italy is also the country that hosts <mark>the world's first university, the University of Bologna</mark>, an extraordinary destination for studies. See below why it's a good decision to study in Bella Italia.</p>
<p>Italy is a popular study destination among international students, not only due to its multicultural environment, but also due to the large number of top public and private universities. Tens of thousands of students come to this peninsula every year to study at the top schools.</p>
<p>There are almost 100 universities in Italy, as well as many specialized institutions that are under the auspices of its higher education sector. <mark>A total of 30 universities were included in the 2019 QS World University rankings</mark>, including 12 in the top 500.</p>

<div class="alert alert-primary" role="alert">
  <b>You can also learn Italian while studying in English:</b>
  If you already speak Italian fluently or are passionate about the culture and language of this country, choosing this study destination is a great advantage. Here you will find an excellent international study environment for English speakers, due to the preponderance of courses taught in English. The Italians are very sociable, and the environment in which you can learn Italian while perfecting your English is extremely pleasant.
</div>

<p>In Italy, tuition fees tend to be affordable for international students, especially in public universities. In addition, tuition funding is available through scholarships from both the government and individual universities. <mark>Italy is thus one of the most accessible countries in Europe, where you can study abroad, both in terms of tuition fees and living costs.</mark></p>
<hr> </hr>

<div class="alert alert-warning" role="alert">
<h4>How much does studying in Italy cost?</h4>
    <ul>
        <li><b>The tuition fee per year at the state university (University of Padova)</b> is between 0 - 2,600 euros / year, most students paying a few hundred euros / year (the calculation is based on family income)</li>
        <li><b>Tuition fee per year at a private university:</b> between 4,000 and 16,000 euros / year, but most students have a fee of 4,000 euros / year; the fee depends on the family income, the field and the level of study (college or master)</li>
        <li><b>Accommodation:</b> depends on the faculty, but can start from 200 euro / month for shared room, respectively 450 euro / month for a single room and private bathroom</li>
        <li><b>The rest of the expenses:</b> depending on the lifestyle of each student, the cost can vary between 300-600 euros per month</li>
    </ul>
    <p>For exact prices in Italy or a comparison between the city where you currently live and the city where you want to study in Italy, you can check this <a href="https://www.numbeo.com/cost-of-living/comparison.jsp">link</a> out.</p>
</div>

<div class="alert alert-primary" role="alert">
    <h4>Scholarships</h4>
    <p>Most universities in Italy offer scholarships based on family income. In addition, there are specific scholarships, especially at the University of Padua. You will see that scholarships are offered both as a discount from the tuition fee and cash scholarships for the payment of living expenses. However, keep in mind that these scholarships are limited and will be awarded to the best applicants.</p>
</div>

<img src="https://www.meeco.net/theme-slider-portlet/imagecache/solar-energy-Italy_425605040.jpg" class="rounded">
<p> </p>

<div class="alert alert-success" role="alert">
    <h4>Part-time Jobs</h4>
    <p><b>The minimum hourly wage in Italy is 7 euros / hour.</b></p>
    <p>Students can work 20 hours a week during the semester and 40 hours a week during the holidays. Finding a job is a little more difficult if you don't know Italian. You need to make sure you have money for at least 3 months because finding a job can take time. It is a good idea to start looking for a job as early as July (before you leave) because most italian students are on vacation. Those who are fluent in English can teach privately (there is quite a high demand for this), and can earn up to 30 euros / hour.</p>
</div>

<div class="alert alert-danger" role="alert">
    <h4>Top 5 Universities in Italy</h4>
    <ol class="center">
        <li><a href="https://www.unibo.it/en">University of Bologna</a></li>
        <li><a href="https://www.santannapisa.it/en">Sant’Anna School of Advanced Studies – Pisa</a></li>
        <li><a href="https://www.sns.it/en">Scuola Normale Superiore di Pisa</a></li>
        <li><a href="https://www.uniroma1.it/en/pagina-strutturale/home">Sapienza University of Rome</a></li>
        <li><a href="https://www.unipd.it/en/">University of Padua</a></li>
    </ol>
</div>

<img src="https://www.gannett-cdn.com/presto/2021/07/07/USAT/ff8de4c6-f511-4a14-99a7-78dbe6869c74-GettyImages-1131890997.jpg" class="rounded">

{% endblock %}