{% extends "layout.html" %}

{% block title %}
    The Netherlands
{% endblock %}

{% block icon %}
    /static/netherlands.ico
{% endblock %}

{% block main %}
<h3>The Netherlands/Holland is in the top 20 as the world's economic system, offers around 2,000 English-language higher education programs and surpasses countries such as the United Kingdom and Austria in terms of innovation.</h3>
<br> </br>
<img src="https://www.go-today.com/stw/images/hero-images/country-hero-images/amsterdam-tulips-canal.jpg" class="rounded">
<br> </br>

<p>Dutch universities offer the largest number of English-taught programmes in continental Europe. About 2,000 programmes are taught entirely in English. Also, 95% of the Dutch speak English, so it’s easy to communicate in daily life.</p>
<p>Holland’s many international students come from more than 160 different countries. Dutch society is diverse and inclusive. It is strongly connected to other cultures, the business community and the world. The Dutch are open-minded and direct, so it is easy to meet them and exchange ideas.</p>

<div class="alert alert-primary" role="alert">
    <p>A number of university centres offer courses in Dutch as a second language. The courses are specially designed for foreign students who have otherwise qualified for admission to Dutch higher education, but must first prove that they have mastered the language sufficiently.</p>
</div>

<p>Holland is one of the safest countries in the world, according to the 2018 Global Peace index and belongs to the top 10 happiest countries in the world.</p>
<p>The learning process is strongly supported by the impressive facilities that universities make available to students: laboratories equipped with the highest technology, libraries with millions of volumes, study areas, simulators.</p>

<hr> </hr>

<div class="alert alert-warning" role="alert">
<h4>How much does studying in The Netherlands cost?</h4>
    <ul>
        <li>Education is affordable: the <b>tuition fee</b> is 2,168 euros / year, an amount that can be covered by a government loan.</li>
        <li>In addition, those who prove that they <b>work during their studies</b> can receive an additional amount of up to 882 euros / month from the Dutch Government.</li>
        <li>An <b>average room</b> costs somewhere between € 300 and € 600 a month. The costs depend on the city where you study, what is included in the rent and the arrangements made by the institution.</li>
        <li>Many bars, restaurants, museums and cinemas give <b>student discounts</b>. Most of these ask for proof in the form of a student card from your institution.</li>
    </ul>
</div>

<img src="https://www.niras.com/media/qozewv5t/netherlands-office-location.jpg" class="rounded">
<p> </p>

<div class="alert alert-success" role="alert">
    <h4>Student Life</h4>
    <p>There is plenty to see in Holland, whether you’re strolling through town, making a boat trip on the canals or lakes, lazing on the beach or walking in the woods and dunes.</p>
    <p>And don’t be surprised to see people dressed in orange and partying in the street on King’s Day or during international football championships.</p>
    <p>Each institution has a network of associations that bring students together for academic activities, sports and recreation. All of these associations are run by students, and some of them are internationally oriented.</p>
</div>

<div class="alert alert-danger" role="alert">
    <h4>Top 5 Universities in The Netherlands</h4>
    <ol class="center">
        <li><a href="https://www.wur.nl/en.htm">Wageningen University & Research</a></li>
        <li><a href="https://www.uva.nl/en">University of Amsterdam</a></li>
        <li><a href="https://www.universiteitleiden.nl/en">Leiden University</a></li>
        <li><a href="https://www.eur.nl/en/education?gclid=Cj0KCQjwvO2IBhCzARIsALw3ASrF7iOwapjbVgWcATIb5tkivfQEM0Gag6Zky3vMUhgUuJEuPIaJ6VQaAuuBEALw_wcB">Erasmus University Rotterdam</a></li>
        <li><a href="https://www.uu.nl/masters/en?utm_source=mastersportal.eu&utm_campaign=uu.dcm.int.master.general&utm_medium=cpc&utm_term=general-masters-en">Utrecht University</a></li>
    </ol>
</div>

<img src="https://img.nordangliaeducation.com/resources/asia/_filecache/f09/308/243808-cropped-w1366-h450-of-1-FFFFFF-netherlands.jpg" class="rounded">

{% endblock %}