{% extends "layout.html" %}

{% block title %}
    Spain
{% endblock %}

{% block icon %}
    /static/spain.ico
{% endblock %}

{% block main %}
<h3>Spain is rich in history and culture and it provides the complete package for anyone coming to the area. While quality education is among the main reasons why international students choose Spain, you will be able to find plenty of complementary factors that add up to the experience.</h3>
<br> </br>

<img src="https://www.wep.travel/Uploads/Image/Image/4452/Spain-Valencia-02.jpg" class="rounded">
<br> </br>

<p>Spain has a great opportunity to learn no matter what your major might be and no matter which university you wish to attend. <mark>The educational system is well organized and properly executed</mark>, designed to provide students of all levels with utmost learning opportunities. Spain is <mark>the third most popular country for international studies</mark>, and this country is, in fact, among top choices for international students from the U.S., along with the UK, Italy, and France.</p>
<p>While the majority of study programmes in Spain are in Spanish, you will be able to <mark>find English-taught programmes</mark> and courses as well. As an international student who cannot speak the language, you will find numerous options to study in Spain in English. There are also <mark>degree programmes that are bilingual</mark>, meaning taught in both languages, Spanish and English, in case you haven’t yet mastered the Spanish language and are planning to do so upon arrival.</p>

<div class="alert alert-primary" role="alert">
    <b>Learn Spanish!</b> What is a better reason to study abroad in Spain than the fact that you will have the opportunity to practice your Spanish-speaking skills in real-time with native Spanish speakers. Even if you are studying in Spain in English, the opportunity to take a Spanish course, or simply practice on your own is always present. The Spanish language is the second most spoken language in the world, and it will surely open up different career possibilities in the job market.
</div>

<p>Spain is packed with brilliant places to visit and a <mark>marvellous outdoors</mark> full of beaches, picturesque landscapes, and outstanding architecture. Apart from the fact that there is always someplace you can go and <mark>relax in Spain</mark>, there are also plenty of tourist attractions you can visit and be astonished.</p>
<hr> </hr>

<div class="alert alert-warning" role="alert">
    <h4>How much does studying in Spain cost?</h4>
    <ul>
        <p>The cost of studying abroad in Spain is reasonable and less expensive than in many other European countries.</p>
        <p>Tuition fees at <b>public universities</b> in Spain are set by each Autonomous Community, meaning they are, more or less, the same among each public university.</p>
        <p>On the other hand, <b>private universities</b> set their own fees, which are usually higher than those at public universities.</p>
        <li>International students might have to pay up to €6,000 per year for <b>undergraduate programs</b>. The average price of credit for <b>bachelor’s degrees in Spanish public universities</b> can go up to €30 per credit. Usually, undergraduate degrees have 60 ECTS credits per year, which means the <b>annual tuition</b> is an average of €1,800. </li>
        <li>A bachelor’s degree at one of the many <b>private universities in Spain is more costly</b>. Depending on the program and institution, fees to attend undergraduate studies at a private university in Spain are somewhere between €5,000-18,000 per year. </li>
        <li><b>Everyday Expenses and Rent</b>: €600-800 per month</li>
    </ul>
</div>

<img src="https://study-eu.s3.amazonaws.com/uploads/image/path/431/wide_fullhd_spain-barcelona.jpg" class="rounded">
<p> </p>

<div class="alert alert-success" role="alert">
    <h4>Part-time Jobs</h4>
    <p><b>International students on a student visa can work in Spain during their studies and earn an extra income.</b></p>
    <p>You can work part-time in Spain with a student visa, which means up to 20 hours per week while pursuing your studies in Spain. If part-time work is deemed to likely impede your studies, chances are you will not be allowed to work while being enrolled as a student in Spain. In general, non-EU international students have to go through more procedures and formalities than EU/EEA students. </p>
</div>

<div class="alert alert-danger" role="alert">
    <h4>Top 5 Universities in Spain</h4>
    <ol class="center">
        <li><a href="https://www.ub.edu/web/portal/en/">Universitat de Barcelona</a></li>
        <li><a href="https://www.uam.es/Ciencias/Home.htm">Universidad Autónoma de Madrid</a></li>
        <li><a href="https://www.ucm.es/english/study-programmes">Complutense University of Madrid</a></li>
        <li><a href="https://www.uab.cat/web/universitat-autonoma-de-barcelona-1345467954774.html">Universitat Autònoma de Barcelona</a></li>
        <li><a href="https://www.unav.edu/">Universidad de Navarra</a></li>
    </ol>
</div>

<img src="https://publicholidays.es/wp-content/uploads/2012/12/Spain_1920_800_homepage.jpg" class="rounded">

{% endblock %}