{% extends "layout.html" %}

{% block title %}
    Sweden
{% endblock %}

{% block icon %}
    /static/sweden.ico
{% endblock %}

{% block main %}
<h3>Work-life balance really means something in Sweden. You’ll never be short of time to enjoy your new home away from home with culture around the corner and freedom to roam a wilderness unlike anywhere else on earth.</h3>
<br> </br>

<img src="https://img.static-af.com/images/meta/IDname/CITY-STO-1?aspect_ratio=2:1&max_width=1920" class="rounded">
<br> </br>

<p>Swedish universities – and Sweden in general – are more international than you think. 20% of the population is foreign-born or has one or both parents born abroad. And at university you’ll study alongside a good mix of people from all over the world, bringing with them all kinds of perspectives and experiences.</p>
<p>Almost 40 universities are located in Sweden, many of which make it into top ranks globally, such as Uppsala University, Lund University or Stockholm University. Sweden has been one of the European pioneers for switching to English-language tuition and offers a whopping 900 degrees to choose from.</p>

<div class="alert alert-primary" role="alert">
    <b>You can also learn Swedish while studying in English:</b>
    Want to learn Swedish during your time there? Then you’re in luck! Most Swedish universities offer Swedish courses for complete beginners. And private organisations and companies have Swedish courses too.
</div>

<p>Sweden is home to a number of internationally successful corporations – think Volvo, IKEA or H&M – but also to some of the most exciting startups of recent years – think Skype or Spotify. The internationality of such employers as well as the high proficiency of English among Swedes make it fairly easy for qualified international graduates to get the foot in the door of the Swedish job market, even when their knowledge of Swedish is limited. Sweden's government has also put an effort into decreasing red tape for foreign nationals looking to join the local workforce.</p>

<hr> </hr>

<div class="alert alert-warning" role="alert">
    <h4>How much does studying in Sweden cost?</h4>
        <ul>
            <p><b>Studying in Sweden is free of charge for citizens of the EU/EEA and those with a permanent Swedish residence permit.</b></p>
            <li>Others may have to pay tuition fees that commonly ranges between 80,000 and 140,000 SEK per year – ca. 8,000 to 15,000 EUR, or 9,000 to 17,000 USD. There is also an application <b>fee for those from outside the EU/EEA</b>.</li>
            <p> </p>
            <p>EU citizens are not offered scholarships or social scholarships (given the lack of tuition fees).</p>
            <li><b>Living expenses</b> are assessed by universities as between 600-800 euros / month, but these expenses can differ greatly depending on the student's lifestyle.</li>
            <li><b>Rent</b>: The cost of rent in Jönköping starts from 280 euros / month, but increases depending on the type of room chosen. For example, in Jönköping there is both the possibility to stay in a single room, as well as in a shared house with other students, ie in apartments with 4-5 rooms, with kitchen and shared bathroom.</li>
        </ul>
</div>

<img src="https://www.gaytravel4u.com/wp-content/uploads/2016/10/Stockholm-Christmas-Makets-1.jpg" class="rounded">
<p> </p>

<div class="alert alert-success" role="alert">
    <h4>Part-time Jobs</h4>
    <p><b>The average monthly salary (without tax) in Sweden for a full-time employee is SEK 47,485 (4,480 euros), while the average hourly wage is expected to be SEK 190 (18 euros) in 2020.</b></p>
    <p>If you are enrolled in a university in Sweden, you can work without a work permit. The salary received by to the student can start from 110 SEK / hour (10.5 euro / hour) or more, depending on the work performed.</p>
    <p>It is recommended to take Swedish language courses offered by universities in order to find a job easier, although the level of English speakers in Sweden is very high. It is a very good idea to start looking for a job as early as July before you leave because then most students are on vacation.</p>
</div>
<p> </p>

<div class="alert alert-danger" role="alert">
    <h4>Top 5 Universities in Sweden</h4>
    <ol class="center">
        <li><a href="https://www.bth.se/eng/">Blekinge Institute of Technology</a></li>
        <li><a href="https://www.chalmers.se/en/Pages/default.aspx">Chalmers University of Technology</a></a></li>
        <li><a href="https://www.du.se/en">Dalarna University</a></li>
        <li><a href="https://www.esh.se/in-english/ersta-skondal-hogskola---english.html">Ersta Sköndal Bräcke University College</a></li>
        <li><a href="https://ju.se/en">Jönköping University</a></li>
    </ol>
</div>

<img src="http://www.musicschoolunion.eu/wp-content/uploads/2018/04/stockholm-geheimtipps-1024x497.jpg
" class="rounded">

{% endblock %}